# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# egg-related
viper.egg-info/
build/
dist/
.eggs/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Coverage tests
.coverage
.cache/
htmlcov/

# sphinx
docs/_build
docs/modules.rst

# IDEs
.idea/