/* links */

a,
a:visited {
    color: #aaddff;
}


/* code directives */

.method dt,
.class dt,
.data dt,
.attribute dt,
.function dt,
.classmethod dt,
.exception dt,
.descclassname,
.descname {
    background-color: #2d2d2d !important;
}

.rst-content dl:not(.docutils) dt {
    color: #aaddff;
    border-top: solid 3px #525252;
    border-left: solid 3px #525252;
}

em.property {
    color: #888888;
}


/* tables */

.rst-content table.docutils thead {
    color: #ddd;
}

.rst-content table.docutils td {
    border: 0px;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #5a5a5a;
}


/* inlined code highlights */

.xref,
.py-meth,
.rst-content a code {
    color: #aaddff !important;
    font-weight: normal !important;
}

.rst-content code {
    color: #eee !important;
    font-weight: normal !important;
}

code.literal {
    background-color: #2d2d2d !important;
    border: 1px solid #6d6d6d !important;
}

code.docutils.literal.notranslate {
    color: #ddd;
}


/* code examples */

pre {
    background: #222;
    color: #ddd;
    font-size: 150%;
    border-color: #333 !important;
}

.copybutton {
    color: #666 !important;
    border-color: #333 !important;
}

.highlight .go,
.highlight .nb,
.highlight .kn {
    /* text */
    color: #ddd;
    font-weight: normal;
}

.highlight .o,
.highlight .p {
    /* comparators, parentheses */
    color: #bbb;
}

.highlight .c1 {
    /* comments */
    color: #888;
}

.highlight .bp {
    /* self */
    color: #fc3;
}

.highlight .mf,
.highlight .mi,
.highlight .kc {
    /* numbers, booleans */
    color: #c90;
}

.highlight .gt,
.highlight .nf,
.highlight .fm {
    /* functions */
    color: #7cf;
}

.highlight .nd {
    /* decorators */
    color: #f66;
}

.highlight .k,
.highlight .ow {
    /* statements */
    color: #A7F;
    font-weight: normal;
}

.highlight .s2,
.highlight .s1,
.highlight .nt {
    /* strings */
    color: #5d6;
}


/* notes, warnings, hints */

.hint .admonition-title {
    background: #2aa87c !important;
}

.warning .admonition-title {
    background: #cc4444 !important;
}

.admonition-title {
    background: #3a7ca8 !important;
}

.admonition,
.note {
    background-color: #2d2d2d !important;
}


/* table of contents */

.wy-nav-content-wrap {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.sidebar {
    background-color: #191919 !important;
}

.sidebar-title {
    background-color: #2b2b2b !important;
}

.wy-menu-vertical a {
    color: #ddd;
}

.wy-menu-vertical code.docutils.literal.notranslate {
    color: #404040;
    background: none !important;
    border: none !important;
}

.wy-nav-content {
    background: #3c3c3c;
    color: #dddddd;
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.current>a {
    background: #a3a3a3;
    border-bottom: 0px !important;
    border-top: 0px !important;
}

.wy-menu-vertical li.current {
    background: #b3b3b3;
}

.toc-backref {
    color: grey !important;
}