name: Test

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6

    - name: Install Tox
      run: pip install tox

    - name: Run Tox
      run: TOXENV=lint tox -r

  py36-core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6

    - name: Install Tox
      run: pip install tox

    - name: Run Tox
      run: TOXENV=py36-core tox -r

  py37-core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Install Tox
      run: pip install tox

    - name: Run Tox
      run: TOXENV=py37-core tox -r

  py38-core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install Tox
      run: pip install tox

    - name: Run Tox
      run: TOXENV=py38-core tox -r
