name: Run test suite

on: [push, pull_request]

concurrency:
  # cancel older, in-progress jobs from the same PR, same workflow.
  # use run_id if the job is triggered by a push to ensure
  # push-triggered jobs to not get canceled.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip"

    - name: Install Dependencies
      run: pip install .[lint]

    - name: Debug dependencies
      run: pip freeze

    - name: Run Black
      run: black --check -C --force-exclude=vyper/version.py ./vyper ./tests ./setup.py

    - name: Run flake8
      run: flake8 ./vyper ./tests ./setup.py

    - name: Run isort
      run: isort --check-only --diff ./vyper ./tests ./setup.py

    - name: Run mypy
      run: make mypy

  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install deps
        # TODO these should really be in setup.py
        run: pip install shibuya sphinx sphinx-copybutton

      - name: Run docs
        run: sphinx-build -E -b html docs dist/docs -n -q --color

  # Symbolic tests
  symbolic-tests:
    runs-on: "ubuntu-latest"
    name: symbolic-tests

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip"

    - name: Install dependencies
      run: pip install .[test]

    - name: Install hevm
      run: |
        # hevm dependency
        sudo apt-get install z3

        wget --no-verbose -O hevm https://github.com/ethereum/hevm/releases/download/release/0.54.2/hevm-x86_64-linux
        chmod +x hevm
        mkdir -p "$HOME/.local/bin/"
        mv hevm "$HOME/.local/bin/"
        echo "$HOME/.local/bin/" >> $GITHUB_PATH

        hevm version

    - name: Run tests
      run: >
        pytest
        -m "hevm"
        --hevm
        --cov-config=setup.cfg
        --cov=vyper
        tests/
 
  # "Regular"/core tests.
  tests:
    runs-on: ${{ matrix.os || 'ubuntu' }}-latest
    # IMPORTANT: Test defaults are duplicated in the "Run tests" step below!
    # it is annoying that we need to duplicate them, but it is necessary
    # to avoid repeating defaults for every "include" in the matrix.
    name: "${{ matrix.os && matrix.os != 'ubuntu' && format('{0}-', matrix.os) || '' }}\
      py${{ matrix.python-version[1] || '311' }}\
      -opt-${{ matrix.opt-mode || 'gas' }}\
      ${{ matrix.debug && '-debug' || '' }}\
      ${{ matrix.experimental-codegen && '-experimental' || '' }}\
      -${{ matrix.evm-version || 'cancun' }}\
      -${{ matrix.evm-backend || 'revm' }}"
    strategy:
      matrix:
        # declare all variables used in the "include" section here! Conflicting jobs get overwritten by GitHub actions.
        os: [ubuntu]
        python-version: [["3.11", "311"]]  # note: do not forget to replace 311 in the job names when upgrading!
        opt-mode: [gas, none, codesize]
        debug: [true, false]
        evm-version: [cancun]  # note: when upgrading, check the "include" section below for conflicting jobs
        experimental-codegen: [false]
        evm-backend: [revm]

        # https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs#expanding-or-adding-matrix-configurations
        include:
          # test default settings with 3.11 across all supported evm versions
          - evm-version: london
          - evm-version: paris
          - evm-version: shanghai

          # test pre-cancun with opt-codesize and opt-none
          - evm-version: shanghai
            opt-mode: none
          - evm-version: shanghai
            opt-mode: codesize

          # test py-evm
          - evm-backend: py-evm
            evm-version: shanghai

          - evm-backend: py-evm
            evm-version: cancun

          # test experimental pipeline
          - experimental-codegen: true
            opt-mode: gas
          - experimental-codegen: true
            opt-mode: none
          - experimental-codegen: true
            opt-mode: codesize

          # run across other python versions. we don't really need to run all
          # modes across all python versions - one is enough
          - python-version: ["3.10", "310"]
          - python-version: ["3.12", "312"]
          - python-version: ["3.13", "313"]

          # os-specific rules
          - os: windows
          - os: macos

    steps:
    - uses: actions/checkout@v4
      with:
          # need to fetch unshallow so that setuptools_scm can infer the version
          fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version[0] || '3.11' }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version[0] || '3.11' }}
        cache: "pip"

    - name: Install dependencies
      run: pip install .[test]

    - name: Debug dependencies
      run: pip freeze

    - name: Run tests
      run: >
        pytest
        -m "not fuzzing"
        --optimize ${{ matrix.opt-mode || 'gas' }}
        --evm-version ${{ matrix.evm-version || 'cancun' }}
        --evm-backend ${{ matrix.evm-backend || 'revm' }}
        ${{ matrix.debug && '--enable-compiler-debug-mode' || '' }}
        ${{ matrix.experimental-codegen && '--experimental-codegen' || '' }}
        --cov-config=setup.cfg
        --cov=vyper
        tests/

    - name: Upload coverage artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage-files-${{ github.job }}-${{ strategy.job-index }}
        include-hidden-files: true
        path: .coverage
        if-no-files-found: error

  core-tests-success:
    if: always()
    # summary result from test matrix.
    # see https://github.community/t/status-check-for-a-matrix-jobs/127354/7
    runs-on: ubuntu-latest
    needs: [tests, symbolic-tests]
    steps:
      - name: Check tests tests all succeeded
        if: ${{ needs.tests.result != 'success' }}
        run: exit 1


  # fuzzing + slow/exhaustive tests (things that are too slow to run in
  # the regular test suite)
  fuzzing:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # note that every time this is updated, `--splits` needs to be
        # updated below as well.
        # python -c "print(list(range(1, 121)))"
        group: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip"

    - name: Install dependencies
      run: pip install .[test]

    # fetch test durations
    # NOTE: if the tests get poorly distributed, run this and commit the resulting `.test_durations` file to the `vyper-test-durations` repo.
    # `pytest -m "fuzzing" --store-durations -r aR tests/`
    - name: Fetch test-durations
      run: curl --location "https://raw.githubusercontent.com/vyperlang/vyper-test-durations/master/test_durations" -o .test_durations

    - name: Run tests
      run: |
        pytest \
          -m "fuzzing" \
          --splits 120 \
          --group ${{ matrix.group }} \
          --splitting-algorithm least_duration \
          --cov-config=setup.cfg \
          --cov=vyper \
          tests/

    - name: Upload coverage artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage-files-${{ github.job }}-${{ strategy.job-index }}
        include-hidden-files: true
        path: .coverage
        if-no-files-found: error

  slow-tests-success:
    if: always()
    # summary result from test matrix.
    # see https://github.community/t/status-check-for-a-matrix-jobs/127354/7
    runs-on: ubuntu-latest
    needs: fuzzing

    steps:
      - name: Check slow tests all succeeded
        if: ${{ needs.fuzzing.result != 'success' }}
        run: exit 1

  coverage-report:
    # Consolidate code coverage using `coverage combine` and
    # call coverage report with fail-under=90
    runs-on: ubuntu-latest
    needs: [tests, fuzzing]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip"
  
    - name: Install coverage
      run: pip install coverage

    - name: Download coverage artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: coverage-files-*
        path: coverage-files

    - name: Combine coverage
      run: |
        coverage combine coverage-files/**/.coverage

    - name: Coverage report
      # coverage report and fail if coverage is too low
      run: |
        coverage report --fail-under=90

    - name: Generate coverage.xml
      run: |
        coverage xml

    - name: Upload coverage artifacts
      # upload coverage sqlite db for debugging
      # upload coverage.xml artifact for downstream codecov upload action
      uses: actions/upload-artifact@v4
      with:
        name: coverage-artifacts
        include-hidden-files: true
        path: |
          .coverage
          coverage.xml
        if-no-files-found: error

  upload-coverage:
    # upload coverage to the codecov app
    runs-on: ubuntu-latest
    needs: [coverage-report]

    steps:
    - uses: actions/checkout@v4
    - uses: actions/download-artifact@v4
      with:
        name: coverage-artifacts

    - name: Upload Coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.xml
